@model MVC2.Models.Person

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person_Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person_Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creation_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creation_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Person_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
